.container {
    display: flex;
    flex-wrap: wrap;
    border-style: outset;
    border-width: 3px;
    border-color: white;
}

.box {
    width: 100%;
}

.side-section {
    background-color: #EBEBEB;
    height: 100px;
}

.logo-section {
    background-color: #262522;
}

.header-section {
    background-color: #262522;
}

.main-section {
    background-color: #EBEBEB;
    height: 600px;
}

.photo-section {
    background-color: #EBEBEB;
    height: 600px;
    text-align: center;
}

.main-section img {
    float: left;
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

button {
    background-color: #0684B1;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 0.8em;
    text-align: left;
    color: white;
    padding-left: 10px;
}

.twitter {
    background-color: #38C5F5;
}

.email {
    background-color: #FF4704;
}

body {
    background-color: #404046;
    font-family: 'Darker Grotesque', sans-serif;
}

.brand {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 2px 0 14px 5%;
}

.brand .firstname {
    font-weight: lighter;
    color: #BCBCBC;
}

.brand .secondname {
    font-weight: bolder;
    color: #F4F6F5;
}

.link {
    color: #BCBCBC;
    margin: 0px auto 0 auto;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 28px;
    text-align: center;
    float: left;
    width: 33.333%;
}

.link:hover {
    background-color: #12110F;
    color: #F4F6F5;
    cursor: pointer;
}

.about {
    font-size: 1.5em;
}

.my-photo {
    float: left;
}

.main-content {
    margin: 20px 0 20px 20px;
}

.side-content {
    margin: 20px 20px 20px 20px;
}

.photo-content {
    margin: 20px 0 20px 0;
}

.inner-main-content {
    padding-right: 20px;
    text-align: center;
}

.section-header {
    font-size: 2.2em;
}

@media screen and (min-width : 700px) {
    .photo-section {
        width: 25%;
    }

    .logo-section {
        width: 30%;
    }

    .nav-section {
        width: 70%;
    }

    .main-section {
        width: 50%;
    }

    .side-section {
        width: 25%;
        height: 600px;
    }

    .main-content {
        border-right: 2px solid #BCBCBC;
    }

    .container {
        width: 80%;
        margin: 40px auto 0 auto;
    }

    .inner-main-content {
        text-align: left;
    }

    .section-header {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 900px) {
    .main-section {
        width: 67%;
        height: 450px;
    }

    .side-section {
        width: 100%;
        height: 200px;
        border-top: 2px solid #BCBCBC;
        padding-left: 10px;
        background-color: #D2D3D4;
        text-align: center;
    }

    .photo-section {
        width: 33%;
        height: 450px;
    }

    .main-content {
        border: none;
    }
}

@media screen and (max-width: 700px) {
    .main-section {
        width: 100%;
        height: 380px;
    }

    .photo-section {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .main-section {
        height: 440px;
    }
}

@media screen and (max-width: 460px) {
    .section-header {
        font-size: 1.8em;
    }

    .main-section {
        height: 500px;
    }

    .side-section {
        height: 300px;
    }
}

@media screen and (max-width: 385px) {
    .section-header {
        font-size: 1.4em;
    }

    .main-section {
        height: 550px;
    }
}
