.container {
    display: flex;
    flex-wrap: wrap;
    border-style: outset;
    border-width: 3px;
    border-color: white;
}

.box {
    width: 100%;
}

.side-section {
    background-color: #EBEBEB;
    height: 100px;
}

.logo-section {
    background-color: #262522;
    width: 33%;
}

.nav-section {
    width: 67%;
}

.header-section {
    background-color: #262522;
}

.main-section {
    background-color: #EBEBEB;
    height: 600px;
}

.photo-section {
    background-color: #EBEBEB;
    height: 600px;
    text-align: center;
}

.main-section img {
    float: left;
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.place-holder-box {
    width: 100%;
    background-color: #F4F6F5;
    height: 560px;
    padding: 20px;
}

.mind-game-section {
    background-color: #EBEBEB;
    width: 50%;
    height: 500px;
}

.cert {
    width: 50%;
    background-color: #EBEBEB;
    min-height: 600px;
}

.arcade-game-section {
    background-color: #BCBCBC;
    width: 50%;
    height: 500px;
}

.restaurant-review-section {
    background-color: #F6F6F6;
    width: 50%;
    height: 500px;
}

.fee-reader-section {
    background-color: lightgray;
    width: 50%;
    height: 500px;
}

.box-content {
    padding: 20px 20px 0 20px;
    text-align: center;
}

.padding-10 {
    padding: 10px;
}

.arcade-game-section img {
    margin-bottom: 4px;
}

button {
    background-color: #0684B1;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 0.8em;
    text-align: left;
    color: white;
    padding-left: 10px;
}

.twitter {
    background-color: #38C5F5;
}

.email {
    background-color: #FF4704;
    font-size: 0.6em;
}

.portfolio-title {
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 5px;
}

.skills-title {
    width: 100%;
    font-size: 1.4em;
    font-weight: bolder;
    padding-bottom: 5px;
}

.portfolio-image {
    width: 50%;
    float: left;
}

.portfolio-verbage p {
    margin-left: 20px;
}

.portfolio-verbage {
    width: 50%;
    float: left;
    font-size: 1.3em;
    text-align: left;
}

.portfolio-box-footer {
    clear: left;
    margin: 0 20px 0 20px;
}

.portfolio-image-content {
    width: 50%;
    float: left;
}

body {
    background-color: #404046;
    font-family: 'Darker Grotesque', sans-serif;
}

.brand {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 2px 0 14px 5%;
}

.brand .firstname {
    font-weight: lighter;
    color: #BCBCBC;
}

.brand .secondname {
    font-weight: bolder;
    color: #F4F6F5;
}

.link {
    background-color: #262522;
    color: #BCBCBC;
    margin: 0px auto 0 auto;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 28px;
    text-align: center;
    float: left;
    width: 33.333%;
}

.link-highlight {
    background-color: #12110F;
    color: #F4F6F5;
}

.link:hover {
    background-color: #12110F;
    color: #F4F6F5;
    cursor: pointer;
}

.about {
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
}

.my-photo {
    float: left;
}

.main-content {
    margin: 20px 0 20px 20px;
}

.side-content {
    margin: 20px 20px 20px 20px;
}

.photo-content {
    margin: 20px 0 20px 0;
    text-align: center;
}

.inner-main-content {
    padding-right: 20px;
    text-align: center;
}

.section-header {
    font-size: 2.2em;
}

.skills {
    margin-bottom: 50px;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width : 700px) {
    .photo-section {
        width: 25%;
    }

    .main-section {
        width: 50%;
    }

    .side-section {
        width: 25%;
        height: 600px;
    }

    .main-content {
        border-right: 2px solid #BCBCBC;
    }

    .container {
        width: 80%;
        margin: 40px auto 0 auto;
    }

    .inner-main-content {
        text-align: left;
    }

    .section-header {
        font-size: 2.2em;
    }

    .cert {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .portfolio-image {
        width: 100%;
    }
    .portfolio-verbage {
        width: 90%;
        height: 170px;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .main-section {
        width: 67%;
        height: 450px;
    }

    .side-section {
        width: 100%;
        height: 200px;
        border-top: 2px solid #BCBCBC;
        padding-left: 10px;
        background-color: #D2D3D4;
        text-align: center;
    }

    .photo-section {
        width: 33%;
        height: 450px;
    }

    .main-content {
        border: none;
    }

    .arcade-game-section {
        height: 650px;
    }

    .mind-game-section {
        height: 650px;
    }

    .fee-reader-section {
        height: 650px;
    }

    .restaurant-review-section {
        height: 650px;
    }
}

@media screen and (max-width: 1350px) {
    .logo-section {
        width: 37%;
    }

    .nav-section {
        width: 63%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .logo-section {
        width: 45%;
    }

    .nav-section {
        width: 55%;
    }
}

@media screen and (max-width: 800px) {
    .logo-section {
        width: 50%;
    }

    .nav-section {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .main-section {
        width: 100%;
        height: 380px;
    }

    .logo-section {
        width: 100%;
    }

    .nav-section {
        width: 100%;
    }

    .photo-section {
        width: 100%;
        height: 300px;
    }

    .portfolio-verbage {
        width: 50%;
        float: left;
        margin: 0;
        text-align: left;
    }

    .portfolio-image {
        width: 50%;
        float: left;
    }

    .arcade-game-section {
        width: 100%;
        height: 500px;
    }

    .mind-game-section {
        width: 100%;
        height: 500px;
    }

    .fee-reader-section {
        width: 100%;
        height: 500px;
    }

    .restaurant-review-section {
        width: 100%;
        height: 500px;
    }

    .portfolio-box-footer {
        height: 150px;
    }

    .cert {
        width: 100%;
        min-height: 0;
    }

}



@media screen and (max-width: 550px) {
    .main-section {
        height: 440px;
    }
}

@media screen and (max-width: 500px) {
    .mind-game-section {
        height: 650px;
    }
    .arcade-game-section {
        height: 650px;
    }
    .fee-reader-section {
        height: 650px;
    }
    .restaurant-review-section {
        height: 650px ;
    }
    .portfolio-image {
        width: 100%;
    }
    .portfolio-verbage {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 460px) {
    .section-header {
        font-size: 1.8em;
    }

    .main-section {
        height: 500px;
    }

    .side-section {
        height: 300px;
    }
}

@media screen and (max-width: 385px) {
    .section-header {
        font-size: 1.4em;
    }

    .main-section {
        height: 550px;
    }
}
